spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/safety_map
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  main:
    web-application-type: servlet

management:
  endpoints:
    web:
      exposure:
        include: health

server:
  port: 8080
